.home-boby {
    padding: 100px 0px 100px 0px;
}


.card-actions {
  background: #EEEEEE;
  margin-top: 24px;
  color: rgba(0,0,0,.54);
}

.dialog-title {
  font-size: 30px;
  white-space: pre-line;

}

.dialog-sub-title {
  font-size: 25px;
  white-space: pre-line;

}

.dialog-content {
  font-size: 20px;
  white-space: pre-line;
  padding-bottom: 15px;
  text-align: justify;
  text-justify: inter-word;

}
