.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}


.cf-nav-header {

  background-color: #000;
  color: #fff;
  margin: 0; 
}

.cf-nav-sub {
  background-color: #ffd740;
  color: #000;
  margin: 0;
}

.connect-btn {
  background-color: #000;
  color: #fff;
}

.user-panel {
  color: #fff;
}