<nav class="navbar navbar-expand-md navbar-dark bg-dark cf-nav-header">
  <a class="navbar-brand" href="#">{{brand}}</a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">

    </ul>
    <form class="form-inline my-2 my-lg-0">


    </form>
  </div>
</nav>

<nav class="navbar navbar-expand-md cf-nav-sub">
  <div class="container">
   

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
<li class="nav-item nav-link">Hi guest, sign in with your Google accuont</li>
<li class="nav-item nav-link fa fa-google">Connect Google</li>
<li class="nav-item nav-link">dfgdfg</li>

      </ul>
      <form class="form-inline my-2 my-lg-0">


      </form>
    </div>
  </div>
</nav>



<!-- 
<div *ngIf="auth.user | async; then authenticated else guest"></div>

<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>HiveTech</span>
    <span>HiveTech</span>
  </mat-toolbar-row>
</mat-toolbar>





<ng-template #guest>
  <mat-toolbar color="accent">
    <div class="container">
      <mat-toolbar-row>





        <button mat-raised-button color="primary" (click)="auth.googleLogin()">
          <i class="fa fa-google"></i> Google
        </button>
        <span> Wellcome GUEST, in order to continue please login with your google account</span>







      </mat-toolbar-row>
    </div>
  </mat-toolbar>
</ng-template> -->