.base-template {
    background-color: #FFE57F;
    min-height: 1000px;
}


.center-xy {

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.long-content {
  text-align: justify;
  text-justify: inter-word
}

.img {
  max-width:100%;
  padding: 20px;

}
