<div class="selected-post-body">
    <h3>{{ (post | async)?.title }}</h3>
    <p>{{ (post | async)?.content }}</p>


    <button (click)="openDialog()" mat-raised-button color="accent">Add comment</button>

    <div class="comments">
        <h4>Comments:</h4>


        <ul class="list-group comments-list">
            <li class="list-group-item" *ngFor="let comment of comments | async">
                <pre>{{comment.data.content}}</pre>
                <mat-card-subtitle>
                    By: {{ comment.data.userDisplayName }} at: {{ comment.data.created | date: 'yyyy-MM-dd' }}
                    <div *ngIf="comment.data.updated">
                        Last update: {{ comment.data.updated | date: 'yyyy-MM-dd'}}
                    </div>
                </mat-card-subtitle>
            </li>
        </ul>

    </div>
</div>