<div class="boby" id='contactTop'>
  <div class="container">
    <mat-card>
      <mat-card-header>
        <mat-card-subtitle>
          <h2>Basic info</h2>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-divider></mat-divider>

      <mat-card-content>
        <mat-horizontal-stepper linear>

          <mat-step>
            <form [formGroup]="aboutYou">
              <ng-template matStepLabel>About You</ng-template>
              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="test-field">
                    <input matInput placeholder="First name" formControlName="firstName" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="test-field">
                    <input matInput placeholder="Last name" formControlName="lastName" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="test-field">
                    <input matInput placeholder="email" formControlName="email" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field class="test-field">
                    <input matInput placeholder="Phone" formControlName="phone" required>
                  </mat-form-field>
                </div>
                <div class="col-md-6">


                  <mat-form-field class="test-field">
                    <input matInput placeholder="Date of birth" formControlName="dateOfBirth" [matDatepicker]="pickerDateOfBirth" required>
                    <mat-datepicker-toggle matSuffix [for]="pickerDateOfBirth"></mat-datepicker-toggle>
                    <mat-datepicker #pickerDateOfBirth></mat-datepicker>
                  </mat-form-field>

                </div>
                <div class="col-md-6">
                  <mat-form-field class="test-field">
                    <input matInput placeholder="Facebook link" formControlName="facebook">
                  </mat-form-field>
                </div>

              </div>
              <div class="row">

                <div class="col-md-6">
                  <button mat-button matStepperNext>Next</button>
                </div>

                <div class="col-md-6 text-right">
                  <button color="accent" (click)="saveStep(aboutYou)" mat-raised-button>Save Step</button>
                </div>

                <mat-divider></mat-divider>
                <div class="col-md-12">
                  <pre>aboutYou: {{ aboutYou.value | json }}</pre>
                  <p>aboutYou status: {{ aboutYou.status }}</p>
                </div>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <form [formGroup]="schoolDetails">
              <ng-template matStepLabel>About the school</ng-template>
              <div class="row">


                <div class="col-md-6">
                  <mat-form-field class="test-field">
                    <input matInput placeholder="City" formControlName="city">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="test-field">
                    <input matInput placeholder="school" formControlName="school">
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="test-field">
                    <input matInput placeholder="Class" formControlName="class">
                  </mat-form-field>
                </div>
              </div>

              <mat-divider></mat-divider>

              <div class="row">

                <div class="col-md-12">
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>

                <div class="col-md-12">
                  <pre>schoolDetails: {{ schoolDetails.value | json }}</pre>
                  <p>schoolDetails status: {{ schoolDetails.status }}</p>
                </div>
              </div>
            </form>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <div class="row">
              <div class="col-md-12">
                You are now done
              </div>
              <div class="col-md-12 text-right">
                <button mat-button (click)="submit()">Submit</button>
              </div>
            </div>
            <!-- You are now done.
            <button mat-button (click)="stepper.reset()">Reset</button> -->

            <mat-divider></mat-divider>

            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
            </div>

            <mat-divider></mat-divider>
            
          </mat-step>

        </mat-horizontal-stepper>
      </mat-card-content>

    </mat-card>
  </div>
</div>